/* Page */
.title-page {
    text-align: center;
    background-color: #282c34;
    background-color: #527185;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

/* Title */
.title-text {
    font-size: 48px;
    margin-top: 0.6em;
    animation: Tada;
    animation-duration: 5;
    animation-iteration-count: infinite;
}

/* Title cards */
.title-cards > img {
    display: "inline-block"
}
.title-card-left {
    height: 20vmin; 
    animation: title-card-left infinite 3s alternate;
}
@keyframes title-card-left {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.title-card-right {
    padding-left: "100px";
    height: 20vmin; 
    animation: title-card-right infinite 3s alternate;
}
@keyframes title-card-right {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}

/* Loading text */
.loading {
    margin-top: 0.6em;
}
.loading span {
    display: inline-block;
    animation: loading-keyframes 3s ease-in-out infinite;
}
.loading span:nth-of-type(1) { animation-delay: 0.0s; }
.loading span:nth-of-type(2) { animation-delay: 0.1s; }
.loading span:nth-of-type(3) { animation-delay: 0.2s; }
.loading span:nth-of-type(4) { animation-delay: 0.3s; }
.loading span:nth-of-type(5) { animation-delay: 0.4s; }
.loading span:nth-of-type(6) { animation-delay: 0.5s; }
.loading span:nth-of-type(7) { animation-delay: 0.6s; }
.loading span:nth-of-type(8) { animation-delay: 0.7s; }
.loading span:nth-of-type(9) { animation-delay: 0.8s; }
.loading span:nth-of-type(10) { animation-delay: 0.9s; }
@keyframes loading-keyframes {
     0%{ transform: translateY(0em); }
    33%{ transform: translateY(-0.6em); }
    67%{ transform: translateY(0em); }
}