// Page
.login-page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.login-page>* {
    position: absolute;
}

// Title text
.login-nickster-text {
    top: 4vmin;
    left: 35vmin;
    font-size: 7vmin;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.login-subtitle-text {
    top: 12vmin;
    left: 35vmin;
    font-size: 14vmin;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.login-logo {
    top: 4vmin;
    left: 4vmin;
    width: 24vmin;
    height: 24vmin;
    fill: var(--theme-color-0);
    border: 1px solid var(--theme-color-7);
    transition: border-color 0.5s ease-in-out;
}

.red-line {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 40%;
    height: 2px;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.5);
    // filter: invert(1);
    // mix-blend-mode: difference;
    mix-blend-mode: screen;
    opacity: 0;
}

.red-line.scanning-vertical {
    opacity: 1;
    animation-name: red-line-scanning-vertical;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: 2;
}

@keyframes red-line-scanning-vertical {
    0% {
        top: 20%;
    }
    100% {
        top: 60%;
    }
}

// Login form
.login-form-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vmin;
    height: 30vmin;
    border: 1px solid var(--theme-color-7);
    border-radius: 2vmin;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--theme-color-0);
    transition: box-shadow 0.5s ease-in-out;
}