/***************************************************
Cards
***************************************************/
.pc-card {
    width: 20vmin;
    height: 28vmin;
    border-width: 0.1vmin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 1vmin;
    background-color: #FFFFFF;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}
.pc-card * {
    position: absolute;
}
.pc-card-content {
    width: 100%;
    height: 100%;
}

/***************************************************
Suits
***************************************************/
.pc-suit-Clubs, .pc-suit-Spades {
    color: #000000;
}
.pc-suit-Diamonds, .pc-suit-Hearts {
    color: #D40000;
}

/***************************************************
Corners
***************************************************/
.pc-corners {
    width: 100%;
    height: 100%;
}
.pc-corner-1, .pc-corner-2 {
    width: 5%;
    font-size: 5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pc-corner-1 {
    top: -0.5vmin;
    left: 1.425vmin;
}
.pc-corner-2 {
    bottom: -0.5vmin;
    right: 1.45vmin;
    transform: rotate(180deg);
}
:is(.pc-corner-1-rank, .pc-corner-2-rank).pc-rank-Ten {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 5vmin;
    left: -1.5vmin;
    letter-spacing: -0.7vmin;
}
.pc-corner-1-suit, .pc-corner-2-suit {
    width: 3.5vmin;
    top: 5.7vmin;
    pointer-events: none;
}

/***************************************************
Center
***************************************************/
.pc-center {
    width: 60%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1vmin;
    border-style: solid;
    border-width: 0.25vmin;
    background-size: 100% 100%;
    background-color: #FFFFFF;
}
.pc-center.pc-suit-Clubs, .pc-center.pc-suit-Spades {
    border-color: #000000;
}
.pc-center.pc-suit-Diamonds, .pc-center.pc-suit-Hearts {
    border-color: #D40000;
}
.pc-center img {
    pointer-events: none;
}
/***** Ace *****/
.pc-rank-Ace.pc-center-pip-1 {
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/***** Two *****/
.pc-center.pc-rank-Two > img {
    width: 33.333%;
}
.pc-center-pip-1.pc-rank-Two {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-2.pc-rank-Two {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Three *****/
.pc-center.pc-rank-Three > img {
    width: 33.333%;
}
.pc-center-pip-1.pc-rank-Three {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-2.pc-rank-Three {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-3.pc-rank-Three {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Four *****/
.pc-center.pc-rank-Four > img {
    width: 33.333%;
}
.pc-center-pip-1.pc-rank-Four {
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-2.pc-rank-Four {
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-3.pc-rank-Four {
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-4.pc-rank-Four {
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Five *****/
.pc-center.pc-rank-Five > img {
    width: 33.333%;
}
.pc-center-pip-1.pc-rank-Five {
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-2.pc-rank-Five {
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-3.pc-rank-Five {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-4.pc-rank-Five {
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-5.pc-rank-Five {
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Six *****/
.pc-center.pc-rank-Six > img {
    width: 33.333%;
}
.pc-center-pip-1.pc-rank-Six {
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-2.pc-rank-Six {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-3.pc-rank-Six {
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-4.pc-rank-Six {
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-5.pc-rank-Six {
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-6.pc-rank-Six {
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Seven *****/
.pc-center.pc-rank-Seven > img {
    width: 33.333%;
}
.pc-center-pip-1.pc-rank-Seven {
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-2.pc-rank-Seven {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-3.pc-rank-Seven {
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-4.pc-rank-Seven {
    top: 33.333%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-5.pc-rank-Seven {
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-6.pc-rank-Seven {
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-7.pc-rank-Seven {
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Eight *****/
.pc-center.pc-rank-Eight > img {
    width: 33.333%;
}
.pc-center-pip-1.pc-rank-Eight {
    top: 12.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-2.pc-rank-Eight {
    top: 37.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-3.pc-rank-Eight {
    top: 62.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-4.pc-rank-Eight {
    top: 87.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-5.pc-rank-Eight {
    top: 12.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-6.pc-rank-Eight {
    top: 37.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-7.pc-rank-Eight {
    top: 62.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-8.pc-rank-Eight {
    top: 87.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Nine *****/
.pc-center.pc-rank-Nine > img {
    width: 33.333%;
}
.pc-center-pip-1.pc-rank-Nine {
    top: 12.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-2.pc-rank-Nine {
    top: 37.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-3.pc-rank-Nine {
    top: 62.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-4.pc-rank-Nine {
    top: 87.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-5.pc-rank-Nine {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-6.pc-rank-Nine {
    top: 12.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-7.pc-rank-Nine {
    top: 37.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-8.pc-rank-Nine {
    top: 62.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-9.pc-rank-Nine {
    top: 87.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Ten *****/
.pc-center.pc-rank-Ten > img {
    width: 33.333%;
}
.pc-center-pip-1.pc-rank-Ten {
    top: 12.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-2.pc-rank-Ten {
    top: 37.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-3.pc-rank-Ten {
    top: 62.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-4.pc-rank-Ten {
    top: 87.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-5.pc-rank-Ten {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-6.pc-rank-Ten {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-7.pc-rank-Ten {
    top: 12.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-8.pc-rank-Ten {
    top: 37.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.pc-center-pip-9.pc-rank-Ten {
    top: 62.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.pc-center-pip-10.pc-rank-Ten {
    top: 87.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Jack *****/
.pc-center.pc-rank-Jack.pc-suit-Clubs {
    background-image: url("./images/jack-clubs.png");
}
.pc-center.pc-rank-Jack.pc-suit-Diamonds {
    background-image: url("./images/jack-diamonds.png");
}
.pc-center.pc-rank-Jack.pc-suit-Hearts {
    background-image: url("./images/jack-hearts.png");
}
.pc-center.pc-rank-Jack.pc-suit-Spades {
    background-image: url("./images/jack-spades.png");
}
/***** Queen *****/
.pc-center.pc-rank-Queen.pc-suit-Clubs {
    background-image: url("./images/queen-clubs.png");
}
.pc-center.pc-rank-Queen.pc-suit-Diamonds {
    background-image: url("./images/queen-diamonds.png");
}
.pc-center.pc-rank-Queen.pc-suit-Hearts {
    background-image: url("./images/queen-hearts.png");
}
.pc-center.pc-rank-Queen.pc-suit-Spades {
    background-image: url("./images/queen-spades.png");
}
/***** King *****/
.pc-center.pc-rank-King.pc-suit-Clubs {
    background-image: url("./images/king-clubs.png");
}
.pc-center.pc-rank-King.pc-suit-Diamonds {
    background-image: url("./images/king-diamonds.png");
}
.pc-center.pc-rank-King.pc-suit-Hearts {
    background-image: url("./images/king-hearts.png");
}
.pc-center.pc-rank-King.pc-suit-Spades {
    background-image: url("./images/king-spades.png");
}