/***************************************************
Cards
***************************************************/
.card {
    width: 20vmin;
    height: 28vmin;
    border-width: 0.1vmin;
    border-style: solid;
    border-color: #000000;
    border-radius: 1vmin;
    background-color: #FFFFFF;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}
.card * {
    position: absolute;
}
.card-content {
    width: 100%;
    height: 100%;
}

/***************************************************
Suits
***************************************************/
.suit-Clubs, .suit-Spades {
    color: #000000;
}
.suit-Diamonds, .suit-Hearts {
    color: #D40000;
}

/***************************************************
Corners
***************************************************/
.corners {
    width: 100%;
    height: 100%;
}
.corner-1, .corner-2 {
    width: 5%;
    font-size: 5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.corner-1 {
    top: -0.5vmin;
    left: 1.425vmin;
}
.corner-2 {
    bottom: -0.5vmin;
    right: 1.45vmin;
    transform: rotate(180deg);
}
:is(.corner-1-rank, .corner-2-rank).rank-Ten {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 5vmin;
    left: -1.5vmin;
    letter-spacing: -0.7vmin;
}
.corner-1-suit, .corner-2-suit {
    width: 3.5vmin;
    top: 5.7vmin;
    pointer-events: none;
}

/***************************************************
Center
***************************************************/
.center {
    width: 60%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1vmin;
    border-style: solid;
    border-width: 0.25vmin;
    background-size: 100% 100%;
    background-color: #FFFFFF;
}
.center.suit-Clubs, .center.suit-Spades {
    border-color: #000000;
}
.center.suit-Diamonds, .center.suit-Hearts {
    border-color: #D40000;
}
.center img {
    pointer-events: none;
}
/***** Ace *****/
.rank-Ace.center-pip-1 {
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/***** Two *****/
.center.rank-Two > img {
    width: 33.333%;
}
.center-pip-1.rank-Two {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-pip-2.rank-Two {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Three *****/
.center.rank-Three > img {
    width: 33.333%;
}
.center-pip-1.rank-Three {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-pip-2.rank-Three {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-pip-3.rank-Three {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Four *****/
.center.rank-Four > img {
    width: 33.333%;
}
.center-pip-1.rank-Four {
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-2.rank-Four {
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-3.rank-Four {
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-4.rank-Four {
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Five *****/
.center.rank-Five > img {
    width: 33.333%;
}
.center-pip-1.rank-Five {
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-2.rank-Five {
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-3.rank-Five {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-pip-4.rank-Five {
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-5.rank-Five {
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Six *****/
.center.rank-Six > img {
    width: 33.333%;
}
.center-pip-1.rank-Six {
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-2.rank-Six {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-3.rank-Six {
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-4.rank-Six {
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-5.rank-Six {
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-6.rank-Six {
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Seven *****/
.center.rank-Seven > img {
    width: 33.333%;
}
.center-pip-1.rank-Seven {
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-2.rank-Seven {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-3.rank-Seven {
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-4.rank-Seven {
    top: 33.333%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-pip-5.rank-Seven {
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-6.rank-Seven {
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-7.rank-Seven {
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Eight *****/
.center.rank-Eight > img {
    width: 33.333%;
}
.center-pip-1.rank-Eight {
    top: 12.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-2.rank-Eight {
    top: 37.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-3.rank-Eight {
    top: 62.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-4.rank-Eight {
    top: 87.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-5.rank-Eight {
    top: 12.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-6.rank-Eight {
    top: 37.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-7.rank-Eight {
    top: 62.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-8.rank-Eight {
    top: 87.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Nine *****/
.center.rank-Nine > img {
    width: 33.333%;
}
.center-pip-1.rank-Nine {
    top: 12.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-2.rank-Nine {
    top: 37.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-3.rank-Nine {
    top: 62.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-4.rank-Nine {
    top: 87.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-5.rank-Nine {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-pip-6.rank-Nine {
    top: 12.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-7.rank-Nine {
    top: 37.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-8.rank-Nine {
    top: 62.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-9.rank-Nine {
    top: 87.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Ten *****/
.center.rank-Ten > img {
    width: 33.333%;
}
.center-pip-1.rank-Ten {
    top: 12.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-2.rank-Ten {
    top: 37.5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.center-pip-3.rank-Ten {
    top: 62.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-4.rank-Ten {
    top: 87.5%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-5.rank-Ten {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-pip-6.rank-Ten {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-7.rank-Ten {
    top: 12.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-8.rank-Ten {
    top: 37.5%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center-pip-9.rank-Ten {
    top: 62.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.center-pip-10.rank-Ten {
    top: 87.5%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(180deg);
}
/***** Jack *****/
.center.rank-Jack.suit-Clubs {
    background-image: url("./images/jack-clubs.png");
}
.center.rank-Jack.suit-Diamonds {
    background-image: url("./images/jack-diamonds.png");
}
.center.rank-Jack.suit-Hearts {
    background-image: url("./images/jack-hearts.png");
}
.center.rank-Jack.suit-Spades {
    background-image: url("./images/jack-spades.png");
}
/***** Queen *****/
.center.rank-Queen.suit-Clubs {
    background-image: url("./images/queen-clubs.png");
}
.center.rank-Queen.suit-Diamonds {
    background-image: url("./images/queen-diamonds.png");
}
.center.rank-Queen.suit-Hearts {
    background-image: url("./images/queen-hearts.png");
}
.center.rank-Queen.suit-Spades {
    background-image: url("./images/queen-spades.png");
}
/***** King *****/
.center.rank-King.suit-Clubs {
    background-image: url("./images/king-clubs.png");
}
.center.rank-King.suit-Diamonds {
    background-image: url("./images/king-diamonds.png");
}
.center.rank-King.suit-Hearts {
    background-image: url("./images/king-hearts.png");
}
.center.rank-King.suit-Spades {
    background-image: url("./images/king-spades.png");
}