// Page
.gv-page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.gv-page>* {
    position: absolute;
}

// Title text
.gv-title {
    top: 4vmin;
    left: 35vmin;
    font-size: 7vmin;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.gv-subtitle {
    top: 12vmin;
    left: 35vmin;
    font-size: 14vmin;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.gv-logo {
    top: 4vmin;
    left: 4vmin;
    width: 24vmin;
    height: 24vmin;
    fill: var(--theme-color-0);
}

.gv-logo.spinning {
    animation: spin 0.5s ease-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// Game buttons
.gv-game-button {
    position: absolute;
    width: 32vmin;
    height: 32vmin;
    background-color: var(--theme-color-0);
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.75);
    border-radius: 5vmin;
    cursor: pointer;
}

.gv-game-card {
    position: absolute;
    left: 50%;
}

.gv-game-text {
    position: absolute;
    bottom: 1vmin;
    color: var(--theme-color-8);
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
}

.gv-pinochle-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gv-pinochle-button:active {
    transform: translate(-50%, calc(-50% + 0.3vmin));
}

.gv-pinochle-card-jack {
    top: -1vmin;
    transform: translateX(-50%) rotate(-14deg) scale(0.7);
}

.gv-pinochle-card-queen {
    top: -1vmin;
    transform: translateX(-50%) rotate(14deg) scale(0.7);
}

.gv-pinochle-text {
    font-size: 5vmin;
}