// Page
.psv-start-page {
    position: relative;
    background-color: var(--theme-color-7);
    color: white;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.psv-start-page>* {
    position: absolute;
    transition: 0.15s;
}

.psv-fade-in {
    opacity: 1;
}

.psv-fade-out {
    opacity: 0;
}

// Cards
.pc-card.pc-flipped>.pc-card-inner {
    transform: rotateY(180deg);
}

.psv-card-jack {
    top: 5vmin;
    left: 5vmin;
    transform: rotateZ(-14deg);
}

.psv-card-queen {
    top: 6.5vmin;
    left: 6vmin;
    transform: rotateZ(14deg);
}

// Title text
.psv-nickster-text {
    top: 4vmin;
    left: 35vmin;
    font-size: 7vmin;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.psv-subtitle-text {
    top: 12vmin;
    left: 35vmin;
    font-size: 14vmin;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

// New game & Join game
.psv-game-button {
    left: 50%;
    width: 45vmin;
    height: 15vmin;
    max-width: 45vw;
    max-height: 15vh;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 5.5vmin;
    font-weight: bold;
    color: var(--theme-color-8);
    background-color: var(--theme-color-0);
    border: none;
    border-radius: 5vmin;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
    padding-left: 2.5vmin;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .psv-game-button:hover {
        color: var(--theme-color-9);
        background-color: var(--theme-color-1);
    }
}

.psv-game-button:active {
    transform: translateX(-50%) translateY(0.5vmin);
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.75);
}

.psv-new-game-button {
    top: 45vh;
}

.psv-join-game-button {
    top: calc(45vh + 20vmin);
}

.psv-button-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding-left: 1vmin;
}

.psv-button-subtext {
    font-size: 2.5vmin;
}

// New Game Rules
.psv-rules-container {
    top: 40vmin;
    left: 5vmin;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 1vmin;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
    // font-size: 2.5vmin;
    // color: var(--theme-color-8);
    // background-color: var(--theme-color-0);
    // border-radius: 5vmin;
    // box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
    // cursor: pointer;
    border: 1px solid magenta;
}

.psv-rules-title {
    font-size: 8vmin;
    white-space: nowrap;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.psv-input-container {

}