.pgv-game-page {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vmin;
}

.pgv-add-card-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pgv-cards-container {
    flex: 1;
    position: relative;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // left: 0;
    // gap: 1vmin;
    width: 100%;
    // height: 90%;
    // border: 1px solid magenta;
}

.pc-card.pc-flipped>.pc-card-inner {
    transform: rotateY(180deg);
}

.pgv-cards-container>.pc-card {
    position: absolute;
    bottom: -15vmin;
}

.pc-card:nth-child(1)  { bottom: -15vmin; left: 10vmin; transform: rotate(-12deg); }
.pc-card:nth-child(2)  { bottom: -14vmin; left: 14vmin; transform: rotate(-10deg); }
.pc-card:nth-child(3)  { bottom: -13vmin; left: 18vmin; transform: rotate(-7deg); }
.pc-card:nth-child(4)  { bottom: -12vmin; left: 23vmin; transform: rotate(-6deg); }
.pc-card:nth-child(5)  { left: 33vmin; transform: rotate(-4deg); }
.pc-card:nth-child(6)  { left: 40vmin; transform: rotate(-2deg); }
.pc-card:nth-child(7)  { left: 47vmin; transform: rotate(2deg); }
.pc-card:nth-child(8)  { left: 55vmin; transform: rotate(4deg); }
.pc-card:nth-child(9)  { left: 65vmin; transform: rotate(6deg); }
.pc-card:nth-child(10) { left: 75vmin; transform: rotate(8deg); }
.pc-card:nth-child(11) { left: 95vmin; transform: rotate(10deg); }
.pc-card:nth-child(12) { left: 115vmin; transform: rotate(12deg); }