.pgv-game-page {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vmin;
}

.pgv-trump-label {
    position: absolute;
    font-size: 10vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

// .pgv-add-card-button {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
// }

.pgv-player-cards-container {
    flex: 1;
    position: relative;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // left: 0;
    // gap: 1vmin;
    width: 100%;
    // height: 90%;
    // border: 1px solid magenta;
}

.pc-card.pc-flipped>.pc-card-inner {
    transform: rotateY(180deg);
}

.pgv-player-cards-container>.pgv-card {
    position: absolute;
    bottom: -15vmin;
}

.pgv-card:nth-child(1) { bottom: -15vmin; left: 6vw; }
.pgv-card:nth-child(2) { bottom: -15vmin; left: 12vw; }
.pgv-card:nth-child(3) { bottom: -15vmin; left: 18vw; }
.pgv-card:nth-child(4) { bottom: -15vmin; left: 24vw; }
.pgv-card:nth-child(5) { bottom: -15vmin; left: 30vw; }
.pgv-card:nth-child(6) { bottom: -15vmin; left: 36vw; }
.pgv-card:nth-child(7) { bottom: -15vmin; left: 42vw; }
.pgv-card:nth-child(8) { bottom: -15vmin; left: 48vw; }
.pgv-card:nth-child(9) { bottom: -15vmin; left: 54vw; }
.pgv-card:nth-child(10) { bottom: -15vmin; left: 60vw; }
.pgv-card:nth-child(11) { bottom: -15vmin; left: 66vw; }
.pgv-card:nth-child(12) { bottom: -15vmin; left: 72vw; }

// .pgv-card:nth-child(1 ) { bottom: -15vmin; left:  10vw; transform: rotate(-12deg); }
// .pgv-card:nth-child(2 ) { bottom: -14vmin; left:  14vw; transform: rotate(-10deg); }
// .pgv-card:nth-child(3 ) { bottom: -13vmin; left:  18vw; transform: rotate(-7deg ); }
// .pgv-card:nth-child(4 ) { bottom: -12vmin; left:  23vw; transform: rotate(-6deg ); }
// .pgv-card:nth-child(5 ) { bottom: -11vmin; left:  33vw; transform: rotate(-4deg ); }
// .pgv-card:nth-child(6 ) { bottom: -10vmin; left:  40vw; transform: rotate(-2deg ); }
// .pgv-card:nth-child(7 ) { bottom: -9vmin ; left:  47vw; transform: rotate(2deg  ); }
// .pgv-card:nth-child(8 ) { bottom: -8vmin ; left:  55vw; transform: rotate(4deg  ); }
// .pgv-card:nth-child(9 ) { bottom: -7vmin ; left:  65vw; transform: rotate(6deg  ); }
// .pgv-card:nth-child(10) { bottom: -6vmin ; left:  75vw; transform: rotate(8deg  ); }
// .pgv-card:nth-child(11) { bottom: -5vmin ; left:  95vw; transform: rotate(10deg ); }
// .pgv-card:nth-child(12) { bottom: -4vmin ; left: 115vw; transform: rotate(12deg ); }