// Page
.psv-start-page {
    position: relative;
    background-color: var(--theme-color-7);
    color: white;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.psv-start-page>* {
    position: absolute;
    transition: 0.15s;
}

.psv-fade-in {
    opacity: 1;
}

.psv-fade-out {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

// Cards
.pc-card.pc-flipped>.pc-card-inner {
    transform: rotateY(180deg);
}

.psv-card-jack {
    top: 5vmin;
    left: 5vmin;
    transform: rotateZ(-14deg);
}

.psv-card-queen {
    top: 6.5vmin;
    left: 6vmin;
    transform: rotateZ(14deg);
}

// Title text
.psv-nickster-text {
    top: 4vmin;
    left: 35vmin;
    font-size: 7vmin;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.psv-subtitle-text {
    top: 12vmin;
    left: 35vmin;
    font-size: 14vmin;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

// New game & Join game
.psv-game-button {
    left: 50%;
    width: 50vmin;
    height: 15vmin;
    max-width: 50vw;
    max-height: 15vh;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 6vmin;
    font-weight: bold;
    color: var(--theme-color-8);
    background-color: var(--theme-color-0);
    border: none;
    border-radius: 5vmin;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
    padding-left: 2.5vmin;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .psv-game-button:hover {
        color: var(--theme-color-9);
        background-color: var(--theme-color-1);
    }
}

.psv-game-button:active {
    transform: translateX(-50%) translateY(0.5vmin);
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.75);
}

.psv-new-game-button {
    top: 45vh;
}

.psv-join-game-button {
    top: calc(45vh + 20vmin);
}

.psv-button-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding-left: 1vmin;
}

.psv-button-subtext {
    font-size: 3vmin;
}

// New Game Rules
.psv-rules-container {
    top: 42vmin;
    left: 5vmin;
    width: 90vmin;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.psv-rules-title {
    font-size: 8vmin;
    margin-bottom: 1vmin;
    white-space: nowrap;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.psv-rules-summary {
    height: 10vmin;
    font-size: 3.5vmin;
    margin-bottom: 3vmin;
}

.psv-rules-options-container {
    position: relative;
    height: 10vmin;
    margin-top: 3vmin;
}

.psv-rules-label {
    position: absolute;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
    font-size: 4.25vmin;
    text-align: left;
    color: var(--theme-color-0);
    text-shadow: none;
}

.psv-rules-options {
    position: absolute;
    left: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.psv-rules-option-button {
    width: 10vmin;
    height: 8vmin;
    font-size: 3.75vmin;
    text-align: center;
    color: var(--theme-color-8);
    background-color: var(--theme-color-0);
    text-shadow: none;
    border: none;
    border-radius: 2vmin;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.psv-option-left {
    border-radius: 2vmin 0 0 2vmin;
}

.psv-option-right {
    border-radius: 0 2vmin 2vmin 0;
}

.psv-option-middle {
    border-radius: 0;
}

.psv-rules-selected-option {
    color: var(--theme-color-0);
    background-color: var(--theme-color-8);
    box-shadow: 0 0 1vmin var(--theme-color-0);
}

.psv-rules-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vmin;
    margin-top: 6vmin;
    margin-bottom: 6vmin;
}

.psv-rules-button {
    width: 30vmin;
    height: 10vmin;
    max-width: 45vw;
    max-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 5vmin;
    font-weight: bold;
    color: var(--theme-color-8);
    background-color: var(--theme-color-0);
    border: none;
    border-radius: 2vmin;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
    padding-left: 2.5vmin;
    cursor: pointer;
}

.psv-rules-button:active {
    transform: translateY(0.5vmin);
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.75);
}

// Join Game
.psv-join-container {
    top: 42vmin;
    left: 5vmin;
    width: 90vmin;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.psv-join-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vmin;
    margin-top: 6vmin;
}

.psv-join-button {
    width: 28vmin;
    height: 10vmin;
    max-width: 45vw;
    max-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 5vmin;
    font-weight: bold;
    color: var(--theme-color-8);
    background-color: var(--theme-color-0);
    border: none;
    border-radius: 2vmin;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
    padding-left: 2.5vmin;
    cursor: pointer;
}

.psv-join-button:active {
    transform: translateY(0.5vmin);
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.75);
}