// Page
.start-page {
    position: relative;
    background-color: var(--theme-color-7);
    color: white;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.start-page>* {
    position: absolute;
}

// Cards
.card-jack,
.card-queen {
    transition: all .1s ease-in-out;
}

:is(.card-jack, .card-queen):active {
    transform: scale(0.95);
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.75);
}

.card-jack {
    top: 5vmin;
    left: 5vmin;
    rotate: -12deg;
}

.card-queen {
    top: 6.5vmin;
    left: 6vmin;
    rotate: 12deg;
}

// Title text
.nickster-text {
    top: 4vmin;
    left: 35vmin;
    font-size: 7vmin;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.pinochle-text {
    top: 12vmin;
    left: 35vmin;
    font-size: 14vmin;
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

// Back button
.bb-container {
    top: 40vmin;
    left: 3vmin;
    width: 6vmin;
    border-radius: 5vmin;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.bb-container:active {
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.75);
}

// New game & Join game
.game-button {
    left: 50%;
    width: 45vmin;
    height: 15vmin;
    max-width: 45vw;
    max-height: 15vh;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 5.5vmin;
    font-weight: bold;
    color: var(--theme-color-8);
    background-color: var(--theme-color-0);
    border: none;
    border-radius: 5vmin;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
    padding-left: 2.5vmin;
    cursor: pointer;
}

.game-button.fade-left {
    transform: translateX(calc(-50% - 10vmin));
    opacity: 0;
    transition: 0.15s;
}

.game-button:hover {
    color: var(--theme-color-9);
    background-color: var(--theme-color-1);
}

.game-button:active {
    transform: translateX(-50%) translateY(0.5vmin);
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.75);
}

.new-game-button {
    top: 45vh;
}

.join-game-button {
    top: calc(45vh + 20vmin);
}

.button-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding-left: 1vmin;
}

.button-subtext {
    font-size: 2.5vmin;
}