/* Cards */
.card {
    width: 200px;
    height: 280px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    position: relative;
}
.card * {
    position: absolute;
}
.card-content {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Suits */
.suit-hearts, .suit-diamonds {
    color: red;
}
.suit-spades, .suit-clubs {
    color: black;
}

/* Corners */
.corners {
    width: 100%;
    height: 100%;
}
.corners > * {
    font-size: 32px;
    font-weight: bold;
    /* position: absolute; */
    width: 32px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    border: 1px solid red;
}
/* .top-left-container {
    top: 0px;
    left: 1px;
} */
.top-left-rank {
    top: 0px;
}
.top-left-suit {
    top: 32px;
}
.bottom-right-container {
    bottom: 0px;
    right: 0px;
    rotate: 180deg;
}
.bottom-right-rank {
    top: 0px;
}
.bottom-right-suit {
    top: 32px;
}
/* .bottom-right-rank {
    bottom: 0px;
    right: 5px;
    rotate: 180deg;
}
.bottom-right-suit {
    bottom: 32px;
    right: 5px;
    rotate: 180deg;
} */

/* Center */
.center-hearts, .center-diamonds, .center-spades, .center-clubs {
    left: 36px;
    top: 36px;
    width: 124px;
    height: 204px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* position: relative; */
}
/* :is(.center-hearts, .center-diamonds, .center-spades, .center-clubs) * {

} */
.center-hearts, .center-diamonds {
    border: 2px solid red;
}
.center-spades, .center-clubs {
    border: 2px solid black;
}

/* Center patterns */
.center-pattern-A {
    font-size: 64px;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 100%;
}
