/***************************************************
Cards
***************************************************/
.card {
    width: 20vw;
    height: 28vw;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    /* transform: scaleX(80%) scaleY(80%); */
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 560px) {
    .card {
        border-radius: 0px;
        border-width: 1px;
    }
}
@media only screen and (min-width: 320px) and (orientation:portrait) {
    .card {
        border-radius: 0px;
    }
}
.card * {
    position: absolute;
}
.card-content {
    width: 100%;
    height: 100%;
}

/***************************************************
Suits
***************************************************/
.suit-Clubs, .suit-Spades {
    color: black;
}
.suit-Diamonds, .suit-Hearts {
    color: #D40000;
}

/***************************************************
Corners
***************************************************/
.corners {
    width: 100%;
    height: 100%;
}
.corner-1, .corner-2 {
    width: 5%;
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.corner-1 {
    top: -0.5vw;
    left: 1.425vw;
}
.corner-2 {
    bottom: -0.5vw;
    right: 1.45vw;
    /* bottom: 0px;
    right: 0px; */
    transform: rotate(180deg);
}
:is(.corner-1-rank, .corner-2-rank).rank-Ten {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 5vw;
    left: -1.5vw;
    letter-spacing: -0.7vw;
}
.corner-1-suit, .corner-2-suit {
    width: 3.5vw;
    top: 5.7vw;
}

/***************************************************
Center
***************************************************/
.center {
    width: 60%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-size: 100% 100%;
    background-color: white;
}
.center.suit-Clubs, .center.suit-Spades {
    border: 2px solid black;
}
.center.suit-Diamonds, .center.suit-Hearts {
    border: 2px solid #D40000;
}
/***** Ace *****/
.rank-Ace.center-pip-1 {
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/***** Two *****/
.center.rank-Two > img {
    width: 44px;
}
.center-pip-1.rank-Two {
    top: 14px;
    left: 38px;
}
.center-pip-2.rank-Two {
    bottom: 14px;
    left: 38px;
    transform: rotate(180deg);
}
/***** Three *****/
.center.rank-Three > img {
    width: 44px;
}
.center-pip-1.rank-Three {
    top: 14px;
    left: 38px;
}
.center-pip-2.rank-Three {
    top: 83px;
    left: 38px;
}
.center-pip-3.rank-Three {
    bottom: 14px;
    left: 38px;
    transform: rotate(180deg);
}
/***** Four *****/
.center.rank-Four > img {
    width: 44px;
}
.center-pip-1.rank-Four {
    top: 10px;
    left: 4px;
}
.center-pip-2.rank-Four {
    bottom: 10px;
    left: 4px;
    transform: rotate(180deg);
}
.center-pip-3.rank-Four {
    top: 10px;
    right: 4px;
}
.center-pip-4.rank-Four {
    bottom: 10px;
    right: 4px;
    transform: rotate(180deg);
}
/***** Five *****/
.center.rank-Five > img {
    width: 44px;
}
.center-pip-1.rank-Five {
    top: 10px;
    left: 4px;
}
.center-pip-2.rank-Five {
    bottom: 10px;
    left: 4px;
    transform: rotate(180deg);
}
.center-pip-3.rank-Five {
    top: 83px;
    left: 38px;
}
.center-pip-4.rank-Five {
    top: 10px;
    right: 4px;
}
.center-pip-5.rank-Five {
    bottom: 10px;
    right: 4px;
    transform: rotate(180deg);
}
/***** Six *****/
.center.rank-Six > img {
    width: 44px;
}
.center-pip-1.rank-Six {
    top: 10px;
    left: 4px;
}
.center-pip-2.rank-Six {
    top: 83px;
    left: 4px;
}
.center-pip-3.rank-Six {
    bottom: 10px;
    left: 4px;
    transform: rotate(180deg);
}
.center-pip-4.rank-Six {
    top: 10px;
    right: 4px;
}
.center-pip-5.rank-Six {
    top: 83px;
    right: 4px;
}
.center-pip-6.rank-Six {
    bottom: 10px;
    right: 4px;
    transform: rotate(180deg);
}
/***** Seven *****/
.center.rank-Seven > img {
    width: 42px;
}
.center-pip-1.rank-Seven {
    top: 10px;
    left: 2px;
}
.center-pip-2.rank-Seven {
    top: 84px;
    left: 2px;
}
.center-pip-3.rank-Seven {
    bottom: 10px;
    left: 2px;
    transform: rotate(180deg);
}
.center-pip-4.rank-Seven {
    top: 49px;
    left: 39px;
}
.center-pip-5.rank-Seven {
    top: 10px;
    right: 2px;
}
.center-pip-6.rank-Seven {
    top: 84px;
    right: 2px;
}
.center-pip-7.rank-Seven {
    bottom: 10px;
    right: 2px;
    transform: rotate(180deg);
}
/***** Eight *****/
.center.rank-Eight > img {
    width: 42px;
}
.center-pip-1.rank-Eight {
    top: 10px;
    left: 2px;
}
.center-pip-2.rank-Eight {
    top: 84px;
    left: 2px;
}
.center-pip-3.rank-Eight {
    bottom: 10px;
    left: 2px;
    transform: rotate(180deg);
}
.center-pip-4.rank-Eight {
    top: 49px;
    left: 39px;
}
.center-pip-5.rank-Eight {
    bottom: 49px;
    left: 39px;
    transform: rotate(180deg);
}
.center-pip-6.rank-Eight {
    top: 10px;
    right: 2px;
}
.center-pip-7.rank-Eight {
    top: 84px;
    right: 2px;
}
.center-pip-8.rank-Eight {
    bottom: 10px;
    right: 2px;
    transform: rotate(180deg);
}
/***** Nine *****/
.center.rank-Nine > img {
    width: 4.3vw;
}
.center-pip-1.rank-Nine {
    top: 0.5vw;
    left: 0;
}
.center-pip-2.rank-Nine {
    top: 5.25vw;
    left: 0;
}
.center-pip-3.rank-Nine {
    bottom: 5.25vw;
    left: 0;
    transform: rotate(180deg);
}
.center-pip-4.rank-Nine {
    bottom: 0.5vw;
    left: 0;
    transform: rotate(180deg);
}
.center-pip-5.rank-Nine {
    top: 2.75vw;
    left: 3.75vw;
}
.center-pip-6.rank-Nine {
    top: 0.5vw;
    right: 0;
}
.center-pip-7.rank-Nine {
    top: 5.25vw;
    right: 0;
}
.center-pip-8.rank-Nine {
    bottom: 5.25vw;
    right: 0;
    transform: rotate(180deg);
}
.center-pip-9.rank-Nine {
    bottom: 0.5vw;
    right: 0;
    transform: rotate(180deg);
}
/***** Ten *****/
.center.rank-Ten > img {
    width: 4.3vw;
}
.center-pip-1.rank-Ten {
    top: 0.5vw;
    left: 0;
}
.center-pip-2.rank-Ten {
    top: 5.25vw;
    left: 0;
}
.center-pip-3.rank-Ten {
    bottom: 5.25vw;
    left: 0;
    transform: rotate(180deg);
}
.center-pip-4.rank-Ten {
    bottom: 0.5vw;
    left: 0;
    transform: rotate(180deg);
}
.center-pip-5.rank-Ten {
    top: 2.75vw;
    left: 3.75vw;
}
.center-pip-6.rank-Ten {
    bottom: 2.75vw;
    left: 3.75vw;
    transform: rotate(180deg);
}
.center-pip-7.rank-Ten {
    top: 0.5vw;
    right: 0;
}
.center-pip-8.rank-Ten {
    top: 5.25vw;
    right: 0;
}
.center-pip-9.rank-Ten {
    bottom: 5.25vw;
    right: 0;
    transform: rotate(180deg);
}
.center-pip-10.rank-Ten {
    bottom: 0.5vw;
    right: 0;
    transform: rotate(180deg);
}
/***** Jack *****/
.center.rank-Jack.suit-Clubs {
    background-image: url("./images/playing_cards/jack-clubs.png");
}
.center.rank-Jack.suit-Diamonds {
    background-image: url("./images/playing_cards/jack-diamonds.png");
}
.center.rank-Jack.suit-Hearts {
    background-image: url("./images/playing_cards/jack-hearts.png");
}
.center.rank-Jack.suit-Spades {
    background-image: url("./images/playing_cards/jack-spades.png");
}
/***** Queen *****/
.center.rank-Queen.suit-Clubs {
    background-image: url("./images/playing_cards/queen-clubs.png");
}
.center.rank-Queen.suit-Diamonds {
    background-image: url("./images/playing_cards/queen-diamonds.png");
}
.center.rank-Queen.suit-Hearts {
    background-image: url("./images/playing_cards/queen-hearts.png");
}
.center.rank-Queen.suit-Spades {
    background-image: url("./images/playing_cards/queen-spades.png");
}
/***** King *****/
.center.rank-King.suit-Clubs {
    background-image: url("./images/playing_cards/king-clubs.png");
}
.center.rank-King.suit-Diamonds {
    background-image: url("./images/playing_cards/king-diamonds.png");
}
.center.rank-King.suit-Hearts {
    background-image: url("./images/playing_cards/king-hearts.png");
}
.center.rank-King.suit-Spades {
    background-image: url("./images/playing_cards/king-spades.png");
}

/***************************************************
Trump
***************************************************/
.trump.card {
    background-color: gold;
}