/* Page */
.title-page {
    position: relative;
    background-color: #527185;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    color: white;
}

/* Title text */
.title-text {
    position: absolute;
    font-size: 10vmin;
    top: 33.333%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid yellow;
    animation: title-text-animation 1s ease-in-out infinite;
    animation-delay: 3s;
}
@keyframes title-text-animation {
    0% { transform: scale(1) rotate(0); }
    25% { transform: scale(1.1) rotate(-3deg); }
    50% { transform: scale(1.1) rotate(3deg); }
    75% { transform: scale(1.1) rotate(-3deg); }
    100% { transform: scale(1) rotate(0); }
}

/* New game button */
.new-game-button {
    position: absolute;
    top: 66.667%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 2vmin;
    font-size: 4vmin;
    text-align: center;
    transition: transform 0.3s ease;
}
.new-game-button:hover {
  transform: translateY(-0.25vmin);
}