/* Page */
.title-page {
    position: relative;
    /* grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    /* position: relative; */
    background-color: #527185;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 100%;
    /* font-family: 'Inter';
    font-size: calc(8px + 2vmin); */
    color: white;
}
.title-page > * {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
    /* margin: auto; */
    /* border: 1px solid blue; */
}

/* Title text */
.title-text {
    // position: absolute;
    font-size: 10vmin;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: "inline-block";
    // text-align: center;
}

/* Cards container */
.cards-container > div { position: absolute; }
.cards-container > div:nth-of-type(1) { top: 50vh; left: 15.00vw; transform: translateY(-50%); }
.cards-container > div:nth-of-type(2) { top: 50vh; left: 20.00vw; transform: translateY(-50%); }
.cards-container > div:nth-of-type(3) { top: 50vh; left: 25.00vw; transform: translateY(-50%); }
.cards-container > div:nth-of-type(4) { top: 50vh; left: 30.00vw; transform: translateY(-50%); }
.cards-container > div:nth-of-type(5) { top: 50vh; left: 35.00vw; transform: translateY(-50%); }
.cards-container > div:nth-of-type(6) { top: 50vh; left: 40.00vw; transform: translateY(-50%); }
.cards-container > div:nth-of-type(7) { top: 50vh; left: 45.00vw; transform: translateY(-50%); }
.cards-container > div:nth-of-type(8) { top: 50vh; left: 50.00vw; transform: translateY(-50%); }
.cards-container > div:nth-of-type(9) { top: 50vh; left: 55.00vw; transform: translateY(-50%); }
.cards-container > div:nth-of-type(10) { top: 50vh; left: 60.00vw; transform: translateY(-50%); }
.cards-container > div:nth-of-type(11) { top: 50vh; left: 65.00vw; transform: translateY(-50%); }
.cards-container > div:nth-of-type(12) { top: 50vh; left: 70.00vw; transform: translateY(-50%); }

/* Add card button */
button {
    position: absolute;
    width: 30vmin;
    height: 7vmin;
    bottom: 7vmin;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4vmin;
    text-align: center;
    border-radius: 2vmin;
}

/* Loading text */
.title-loading {
    margin-top: 0.6em;
}
.title-loading span {
    display: inline-block;
    animation: title-loading-keyframes 3s ease-in-out infinite;
}
.title-loading span:nth-of-type(1) { animation-delay: 0.0s; }
.title-loading span:nth-of-type(2) { animation-delay: 0.1s; }
.title-loading span:nth-of-type(3) { animation-delay: 0.2s; }
.title-loading span:nth-of-type(4) { animation-delay: 0.3s; }
.title-loading span:nth-of-type(5) { animation-delay: 0.4s; }
.title-loading span:nth-of-type(6) { animation-delay: 0.5s; }
.title-loading span:nth-of-type(7) { animation-delay: 0.6s; }
.title-loading span:nth-of-type(8) { animation-delay: 0.7s; }
.title-loading span:nth-of-type(9) { animation-delay: 0.8s; }
.title-loading span:nth-of-type(10) { animation-delay: 0.9s; }
@keyframes title-loading-keyframes {
     0%{ transform: translateY(0em); }
    33%{ transform: translateY(-0.6em); }
    67%{ transform: translateY(0em); }
}