/* Page */
.title-page {
    /* position: relative; */
    /* grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    /* position: relative; */
    background-color: #527185;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}
.title-page > * {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
    /* margin: auto; */
    border: 1px solid blue;
}

/* Title */
.title-text {
    font-size: 48px;
}

/* Title cards */
.title-cards > img {
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; */
    display: "inline-block";
    height: 20vmin;
    /* box-shadow: "5px 5px 5px 0px rgba(0, 0, 0, 0.25)"; */
    /* filter: drop-shadow(2px 2px 2px black); */
}

/* Loading text */
.title-loading {
    margin-top: 0.6em;
}
.title-loading span {
    display: inline-block;
    animation: title-loading-keyframes 3s ease-in-out infinite;
}
.title-loading span:nth-of-type(1) { animation-delay: 0.0s; }
.title-loading span:nth-of-type(2) { animation-delay: 0.1s; }
.title-loading span:nth-of-type(3) { animation-delay: 0.2s; }
.title-loading span:nth-of-type(4) { animation-delay: 0.3s; }
.title-loading span:nth-of-type(5) { animation-delay: 0.4s; }
.title-loading span:nth-of-type(6) { animation-delay: 0.5s; }
.title-loading span:nth-of-type(7) { animation-delay: 0.6s; }
.title-loading span:nth-of-type(8) { animation-delay: 0.7s; }
.title-loading span:nth-of-type(9) { animation-delay: 0.8s; }
.title-loading span:nth-of-type(10) { animation-delay: 0.9s; }
@keyframes title-loading-keyframes {
     0%{ transform: translateY(0em); }
    33%{ transform: translateY(-0.6em); }
    67%{ transform: translateY(0em); }
}