* {
  /* Disables all panning and zooming gestures */
  touch-action: none;
  /* Disable text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

:root {
  --theme-color-0: #FFFFFF;  // White
  --theme-color-1: #C3CCD5;  // Light Grey
  --theme-color-2: #BFC9D0; // Interpolated Color
  --theme-color-3: #93A4B4; // Medium Grey
  --theme-color-4: #7E8EAA; // Interpolated Color
  --theme-color-5: #647B90; // Dark Grey
  --theme-color-6: #54677E; // Interpolated Color
  --theme-color-7: #4B5C6C; // Darker Grey
  --theme-color-8: #292F39; // Interpolated Color
  --theme-color-9: #000000; // Black
}

body {
  margin: 0;
  /* Fonts */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}