* {
  /* Disables all panning and zooming gestures */
  touch-action: none;
  /* Disable text selection */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

:root {
  --theme-color-0: #FFFFFF;
  --theme-color-1: #C3CCD5;
  --theme-color-2: #BFC9D0;
  --theme-color-3: #93A4B4;
  --theme-color-4: #7E8EAA;
  --theme-color-5: #647B90;
  --theme-color-6: #54677E;
  --theme-color-7: #4B5C6C;
  --theme-color-8: #292F39;
  --theme-color-9: #000000;
}

body {
  margin: 0;
  background-color: var(--theme-color-7);
  /* Fonts */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-page-enter {
  opacity: 0;
}

.app-page-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.app-page-exit {
  opacity: 1;
}

.app-page-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}