:root {
  --theme-color-0: #FFFFFF;
  --theme-color-1: #C3CCD5;
  --theme-color-2: #BFC9D0;
  --theme-color-3: #93A4B4;
  --theme-color-4: #7E8EAA;
  --theme-color-5: #647B90;
  --theme-color-6: #54677E;
  --theme-color-7: #4B5C6C;
  --theme-color-8: #292F39;
  --theme-color-9: #000000;
}

* {
  // touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-touch {
  touch-action: none;
}

.no-touch:focus {
  outline: none !important;
}

body {
  margin: 0;
  color: var(--theme-color-0);
  background-color: var(--theme-color-7);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-enter {
  opacity: 0;
}

.app-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.app-exit {
  opacity: 1;
}

.app-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}