.nf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--theme-color-7);
}

.nf-logo-container {
    position: absolute;
    top: 25%;
    display: flex;
    align-items: center;
    margin-bottom: 2vmin;
}

.nf-logo {
    width: 12vmin;
    height: 12vmin;
    margin-right: 2vmin;
    fill: var(--theme-color-0);
}

.nf-text {
    font-size: 9vmin;
    font-weight: bold;
    letter-spacing: -0.25vmin;
    color: var(--theme-color-0);
    text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
}

.nf-buttons-container {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
}

.nf-button {
    width: 27vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmin;
    margin: 2vmin;
    padding: 2vmin 3vmin;
    font-size: 4.5vmin;
    font-weight: bold;
    color: var(--theme-color-8);
    background-color: var(--theme-color-0);
    border: none;
    border-radius: 5vmin;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.nf-icon {
    padding-right: 1vmin;
}

.nf-button:active {
    transform: translateY(0.5vmin);
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.75);
}